.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 500px;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
}
