<div class="container mt-3">
    <p-toast />
    <p-splitbutton label="Save"  severity="contrast" >
        <ng-template #content>
            <span class="">
                <!--
                Add photo
                <img
                    alt="logo"
                    src="https://primefaces.org/cdn/primeng/images/logo.svg"
                    style="height: 1rem; margin-right: 0.5rem" /> --> 
                <span>Submit</span>
            </span>
        </ng-template>
    </p-splitbutton>
</div>