<div class="card flex justify-center">
  <p-drawer #drawerRef [(visible)]="visible" (visibleChange)="visible.set($event)">
    <ng-template #headless>
      <div class="flex flex-col h-full bg-white">
        <div class="flex items-center justify-between px-6 pt-4 shrink-0">
          <span class="inline-flex items-center gap-2">
            <img src="/images/logo.webp" alt="SOREIN Logo" class="w-50" />
          </span>
          <span>
            <p-button
              type="button"
              (click)="closeCallback($event)"
              icon="pi pi-times"
              rounded="true"
              outlined="false"
              class="h-8 w-8"
              size="small"
              [style]="{
                color: 'var(--primary)',
                backgroundColor: 'white',
                border: 'solid 1.5px var(--primary)'
              }"
            ></p-button>
          </span>
        </div>
        <div class="overflow-y-auto h-full">
          <ul class="list-none flex flex-col items-start gap-7 p-[35px]">
            @for (navlink of navlinks; track navlink.routerLink){
            <li>
              <a
                [routerLink]="navlink.routerLink"
                class="text-[#1a1a1a] font-bold text-base transition-colors duration-300 py-2 inline-flex items-center gap-2 link-hover-effect hover:text-(--primary) hover:-translate-y-px"
              >
                <i [class]="navlink.class" [style]="navlink.style"></i>
                {{ navlink.text }}
              </a>
            </li>
            }
            <li>
              <a
                routerLink="/book"
                class="px-2.5 py-2 text-white rounded-[10px] font-semibold transition-all duration-300 btn-cta-gradient hover:scale-[1.05] hover:-translate-y-0.5 hover:shadow-lg-custom inline-flex items-center gap-2"
              >
                <i class="pi pi-calendar-plus"></i>
                Book Now
              </a>
            </li>
          </ul>
        </div>
        <div class="mt-auto">
          <hr class="mb-4 mx-4 border-t border-0 border-surface bg-(--primary)" />
          <a
            pRipple
            class="m-4 flex items-center cursor-pointer p-4 gap-2 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple"
          >
            <p-avatar image="/images/favicon.webp" shape="circle" />
            <span class="font-bold">ΕΛΔΗΕ</span>
          </a>
        </div>
      </div>
    </ng-template>
  </p-drawer>
  <p-button
    (click)="visible.set(true)"
    [style]="{
      color: 'white',
      background: 'linear-gradient(135deg, var(--primary), var(--primary-light))',
      border: 'var(--primary)'
    }"
    icon="pi pi-bars"
  />
</div>
