.btn-cta-gradient {
  background: linear-gradient(135deg, var(--primary), var(--primary-light));
}

.hover\:shadow-lg-custom:hover,
.btn-cta-gradient:hover {
  box-shadow: 0 6px 18px rgba(9, 74, 133, 0.4);
}

::ng-deep .p-button-icon.pi.pi-times {
  font-size: 12px;
}
::ng-deep .p-ripple.p-button.p-button-icon-only.p-button-rounded.p-button-sm.p-component {
  border-radius: 25%;
  width: 20px;
  height: 20px;
}

::ng-deep .p-ripple.p-button.p-button-icon-only.p-button-rounded.p-button-sm.p-component:hover {
  color: var(--primary-light) !important;
  border: var(--primary-light) 1px solid !important;
  box-shadow: 2px 2px 1px var(--primary) !important;
}

::ng-deep .p-drawer-mask.p-overlay-mask {
    z-index: 9 !important; 

}